<!DOCTYPE html>
<html>
<head>
    <title>File Delete</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css') }}">
</head>
<body>
    <div class="logo-container">
        <a href="/">
        <img src="{{ url_for('static', filename='images/pi_logo.png') }}" alt="logo" width="100" height="100">
        </a>
        <h1>File Delete</h1>
    </div>
    <div class="container" style="display: flex; justify-content: center; align-items: center;">
        <form method="POST" action="{{ url_for('delete_file') }}">
            <label for="delete-file">Delete file:</label>
            <select name="delete-file" id="delete-file">
                {% for file in files %}
                <option value="{{ file }}">{{ file }}</option>
                {% endfor %}
            </select>
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
    </div>
</body>
</html>
