<!DOCTYPE html>
<html>
<head>
	<title>Dashboard</title>
	<!-- <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet"> -->
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css') }}">
</head>
<body>
	<div class="logo-container" style="height: 10vh;">
				<a href="/logout" class="logout-btn">Logout</a>
		<a href="/upload" class="upload-btn">Upload</a>
		<img src="{{ url_for('static', filename='images/pi_logo.png') }}" alt="logo" width="100" height="100">
		<h1>Welcome to H-NAS</h1>
	</div>
	<!--print all elements from parameter files passed from flask-->
	<div class="container" style="height: 90vh;">
		<div class="file-container">
			<h2><i class="icon-camera"> </i>Image Files</i></h2>
			<hr>
			{% if imgfiles %}
			  <ul>
				{% for file in imgfiles %}
				  <li>
					<a href="{{ url_for('download_file', filename=file) }}">
					  <img src="{{ url_for('serve_thumb', filename=file) }}"  width="100">
					  <!-- {{ file }} -->
					</a>
				  </li>
				{% endfor %}
			  </ul>
			{% else %}
			  <p>No image files found.</p>
			{% endif %}
			{% if mimages %}
			  <a href="/images">see more...</a>
			{% endif %}
		  </div>		  
		<div class="file-container">
		<h2><i class="icon-facetime-video"></i> Video Files</h2><hr>
			{% if videofiles %}
				<ul>
				{% for file in videofiles %}
					<li><a href="{{ url_for('download_file', filename=file) }}">{{ file }}</a></li>
				{% endfor %}
				</ul>
			{% else %}
				<p>No video files found.</p>
			{% endif %}
			{% if mvideos %}
				<a href="/videos">see more...</a>
			{% endif %}
		</div>
		<div class="file-container">
			<h2><i class="icon-file-text"></i> PDF Files</h2><hr>
			{% if pdffiles %}
				<ul>
				{% for file in pdffiles %}
					<li><a href="{{ url_for('download_file', filename=file) }}">{{ file }}</a></li>
				{% endfor %}
				</ul>
			{% else %}
				<p>No PDF files found.</p>
			{% endif %}
			{% if mpdfs %}
				<a href="/pdfs">see more...</a>
			{% endif %}
		</div>
		<div class="file-container">
			<h2><i class="icon-sun"></i> Misc. Files</h2><hr>
			{% if misc %}
				<ul>
				{% for file in misc %}
					<li><a href="{{ url_for('download_file', filename=file) }}">{{ file }}</a></li>
				{% endfor %}
				</ul>
			{% else %}
				<p>No misc files found.</p>
			{% endif %}
			{% if mmisc %}
				<a href="/misc">see more...</a>
			{% endif %}
		</div>
	</div>
	<div class="container">
		<a href="/delete_page" class="delete-btn">Delete</a>
	  </div>
	  
</body>
</html>
