<!DOCTYPE html>
<html>
<head>
  <title>Login Page</title>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
</head>
<body>
  <div class="logo-container">
    <img src="{{ url_for('static',filename='images/pi_logo.png') }}" alt="logo" width="100" height="100">
    <h1>Welcome to H-NAS!</h1>
  </div>
  <div class="container" style="display: flex; justify-content: center; align-items: center;">
    <form method="POST" action="/login">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username"><br><br>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password"><br><br>
      <input type="submit" value="Submit">
    </form>
  </div>
</body>
</html>