<!DOCTYPE html>
<html>
<head>
	<title>Dashboard</title>
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css') }}">
</head>
<body>
	<div class="logo-container" style="height: 10vh;">
				<a href="/logout" class="logout-btn">Logout</a>
		<a href="/upload" class="upload-btn">Upload</a>
		<img src="{{ url_for('static', filename='images/pi_logo.png') }}" alt="logo" width="100" height="100">
		<h1>Welcome to H-NAS</h1>
	</div>
	<!--print all elements from parameter files passed from flask-->
	<div class="container" style="height: 90vh;">
		<div class="file-container-img">
			<h2><i class="{{ fa_content }}"></i> {{ content }} Files</h2>
				 <ul>
				{% for file in files %}
				{% if content=="Image" %}
				<li>
					<a href="{{ url_for('download_file', filename=file) }}">
						<img src="{{ url_for('serve_thumb', filename=file) }}"  width="100">
					</a>
				</li>
				{% else %}
					<li><a href="{{ url_for('download_file', filename=file) }}">{{ file }}</a></li>
				{% endif %}
				{% endfor %}
				</ul>
		</div>
	</div>
</body>
</html>
