<!DOCTYPE html>
<html>
<head>
	<title>File Upload</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css') }}">
</head>
<body>
	<div class="logo-container">
		<a href="/">
		<img src="{{ url_for('static', filename='images/pi_logo.png') }}" alt="logo" width="100" height="100">
		</a>
		<h1>File Upload</h1>
	</div>
	<div class="container" style="display: flex; justify-content: center; align-items: center;">
		<form method="POST" action="{{ url_for('upload') }}" enctype="multipart/form-data">
			<label for="file">Select a file:</label>
			<input type="file" name="file"><br><br>
			<label for="location">Save file to:</label>
			<select name="location">
				<option value="auto">Auto</option>
				<option value="local">Local Disk</option>
				<option value="s3">Amazon S3</option>
			</select><br><br>
			<input type="submit" value="Upload">
		</form>
	</div>
</body>
</html>
