.container {
  justify-content: center;
  align-items: center;
}
.logout-btn{
  position: absolute;
  top: 10px;
  left: 10px;
  background: #363636;
  border-radius: 10px;
  padding: 0.5vw;
  color: #fff;
  margin-top: 2vh;
  text-decoration: none;
}
.upload-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #363636;
  border-radius: 10px;
  padding: 0.5vw;
  color: #fff;
  margin-top: 2vh;
  text-decoration: none;
}

body {
  background: linear-gradient(to right, #FFFFFF, #d4d3d3);
  background-size: cover;
}

/* use roboto font if available */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap');

/* use roboto for all text on the page, increase font size */
* {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.file-container{
  margin-bottom: 5vh;
  margin-left: 5vh;
}

ul.dashed > li:before {
  content: "-";
  text-indent: -5px;
}

.file-container-img li {
  content: none;
}

.delete-btn {
  position: absolute;
  bottom: -50%;
  right: 2%;
  background: #363636;
  border-radius: 10px;
  padding: 0.5vw;
  color: #fff;
  text-decoration: none;
}